<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title> 玩家列表</title>
    <div th:include="../templates/head :: head"></div>
    <script>
        function doSearch(){
            $('#tt').datagrid('load', {
                id: $('#userId').val(),
                loginName:$('#loginName').val(),
                createTimeLeft:$('#createTimeLeft').datebox("getValue"),
                createTimeRight:$('#createTimeRight').datebox("getValue"),
                lastLoginTimeLeft:$('#lastLoginTimeLeft').datebox("getValue"),
                lastLoginTimeRight:$('#lastLoginTimeRight').datebox("getValue")
            });
        }

        function edit(){
            var row = $('#tt').datagrid('getSelected');
            if (row){
                showMyWindow('帐号管理 | 编辑帐号', 'user_edit?id=' + row.id, 400, 350);
            } else {
                showMsg(market.content.title, market.content.tips, alert);
            }
        }

        function dateFormat(value,row,index){
            if (value>0) {
                return formatDateTime(value);
            }
            return value;
        }

        function exportUserInfo(){
            showConfirm(market.content.title, '你确定要导出吗', function(){
                var data ={
                    id: $('#userId').val(),
                    loginName:$('#loginName').val(),
                    createTimeLeft:$('#createTimeLeft').datebox("getValue"),
                    createTimeRight:$('#createTimeRight').datebox("getValue"),
                    lastLoginTimeLeft:$('#lastLoginTimeLeft').datebox("getValue"),
                    lastLoginTimeRight:$('#lastLoginTimeRight').datebox("getValue")
                };
                DownLoadFile({
                    url:'user_export', //请求的url
                    data:data//要发送的数据

                });
            });
        }
        var DownLoadFile = function (options) {
            var config = $.extend(true, { method: 'post' }, options);
            var $iframe = $('<iframe id="down-file-iframe" />');
            var $form = $('<form target="down-file-iframe" method="' + config.method + '" />');
            $form.attr('action', config.url);
            for (var key in config.data) {
                $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '" />');
            }
            $iframe.append($form);
            $(document.body).append($iframe);
            $form[0].submit();
            $iframe.remove();
        }

    </script>
</head>
<body class="cmp-list-body">
<div id="tb" style="padding:3px">
    <span>用户id:</span>
    <input id="userId" style="line-height:20px;border:1px solid #ccc">
    <span>登录名:</span>
    <input id="loginName" style="line-height:20px;border:1px solid #ccc">

    <span>注册时间:</span>
    <input id="createTimeLeft" class="easyui-datebox"   style="line-height:20px;border:1px solid #ccc">-
    <input id="createTimeRight" class="easyui-datebox"  style="line-height:20px;border:1px solid #ccc">

    <span>最近登录时间:</span>
    <input id="lastLoginTimeLeft" class="easyui-datebox"   style="line-height:20px;border:1px solid #ccc">-
    <input id="lastLoginTimeRight" class="easyui-datebox"  style="line-height:20px;border:1px solid #ccc">
    <a href="javascript:void(0)" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch();">查询</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="exportUserInfo();">导出</a>
    <a href="javascript:void(0)" class="easyui-linkbutton"  plain="true"  id="export" style="visibility: hidden;"><span id="workFrame"></span></a>
</div>
<table id="tt" class="easyui-datagrid" title="玩家列表" iconCls="icon-auth"
       url="user_list?json" toolbar="#tb" rownumbers="true"
       singleSelect="true" pagination="true" fitColumns="true" pageSize="15" pageList="[15,30,60,80,100]" />
<thead>
<tr>
    <th align="center" width="4%" field="id">ID</th>
    <th align="center" width="6%" field="loginName">登陆名</th>
    <th align="center" width="6%" field="nick">昵称</th>
    <th align="center" width="6%" field="btc">BTC</th>
    <th align="center" width="6%" field="ltc">LTC</th>
    <th align="center" width="6%" field="eth">ETH</th>
    <th align="center" width="6%" field="bbk">BBK</th>
    <!--<th align="center" width="6%" field="dayInfo.excessTimes">剩余游戏次数</th>-->
    <!--<th align="center" width="6%" field="dayInfo.shareTimes">当日分享次数</th>-->
    <th align="center" width="6%" field="createTime" formatter="dateFormat" sortable="true">注册时间</th>
    <th align="center" width="8%" field="lastLoginTime"formatter="dateFormat"sortable="true">最近登录时间</th>
</tr>
</thead>
</table>
</body>
</html>