<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoks.order.mapper.OrderMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scoks.order.entity.OrderMaterial">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="material_id" property="materialId"/>
        <result column="target_num" property="targetNum"/>
        <result column="get_num" property="getNum"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

        <result column="category" property="materialCategory"/>
        <result column="name" property="materialName"/>
        <result column="colour" property="materialColour"/>
        <result column="manufactor" property="materialManufactor"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,order_id
        , material_id, target_num, get_num, creator, create_time, update_time
    </sql>
    <update id="updateGetNum">
        update order_material
        set get_num = get_num + #{getNum}
        where id = #{id}
    </update>
    <select id="listOrderMaterial" resultMap="BaseResultMap">
        select a.* ,b.category,b.name,b.colour,b.manufactor
        from order_material a
        left join material b on a.material_id = b.id
        where order_id = #{where.orderId}
        <if test="where.materialColour!=null">
            and b.`colour` = #{where.materialColour}
        </if>
        <if test="where.materialCategory!=null">
            and b.`category` = #{where.materialCategory}
        </if>
        <if test="where.materialName!=null">
            and b.name like concat('%',#{where.materialName},'%')
        </if>
        <if test="where.materialManufactor!=null">
            and b.manufactor like concat('%',#{where.materialManufactor},'%')
        </if>
    </select>

</mapper>
