<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoks.order.mapper.StorageRegionMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scoks.order.entity.StorageRegionMaterial">
        <id column="id" property="id"/>
        <result column="region" property="region"/>
        <result column="material_id" property="materialId"/>
        <result column="sum" property="sum"/>
        <result column="remarks" property="remarks"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>


        <result column="category" property="materialCategory"/>
        <result column="name" property="materialName"/>
        <result column="colour" property="materialColour"/>
        <result column="manufactor" property="materialManufactor"/>
    </resultMap>


    <update id="updateNum">
        update storage_region_material
        set sum = sum + #{num}
        where id = #{storageRegionId}
          and sum + #{num} >= 0
    </update>
    <select id="storageRegionMaterials" resultMap="BaseResultMap">
        select a.* ,b.category,b.name,b.colour,b.manufactor
        from storage_region_material a
        left join material b on a.material_id = b.id
        where 1=1
        <if test="where.region!=null">
            and `region` = #{where.region}
        </if>
        <if test="where.materialColour!=null">
            and b.`colour` = #{where.materialColour}
        </if>

        <if test="where.materialCategory!=null">
            and b.`category` = #{where.materialCategory}
        </if>
        <if test="where.materialName!=null">
            and b.name like concat('%',#{where.materialName},'%')
        </if>
        <if test="where.materialManufactor!=null">
            and b.manufactor like concat('%',#{where.materialManufactor},'%')
        </if>

    </select>

</mapper>
